{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SmartCVCreator - Your Resume Builder</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

</head>

<body style="padding:20px;">
  <h1 class="mt-2" style="text-align:center;font-weight:bolder;color:steelblue;">Welcome to SmartCVCreator !!!</h1>
  <hr class="mt-0 mb-4">
  <!--     <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='Submit'>Submit</button>
        
    </form> -->
  {% crispy form form.helper %}

  <marquee behavior="scroll">Developed by Benecia Crasta</marquee>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>